<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrix.mapper.SysAdminRoleRelationMapper">
  <resultMap id="BaseResultMap" type="com.matrix.api.system.entity.po.SysAdminRoleRelation">
    <!--@mbg.generated-->
    <!--@Table sys_admin_role_relation-->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="tenant_id" jdbcType="INTEGER" property="tenantId"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, admin_id, role_id,tenant_id
  </sql>
</mapper>