<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.matrix.mapper.SysResourceMapper">
    <resultMap id="BaseResultMap" type="com.matrix.entity.po.SysResource">
        <!--@mbg.generated-->
        <!--@Table sys_resource-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="deleted" jdbcType="INTEGER" property="deleted"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        `name`,
        url,
        description,
        category_id,
        create_time,
        update_time,
        create_by,
        update_by,
        deleted
    </sql>

    <select id="getResourceByAdminId" resultMap="BaseResultMap">
        select *
        from sys_resource sr
                 left join (select srrr.resource_id
                            from sys_role_resource_relation srrr
                                     left join sys_admin_role_relation sarr
                                               on srrr.role_id = sarr.role_id
                            where sarr.admin_id = #{id}) res
                           on res.resource_id = sr.id
        where sr.deleted = 0
        group by sr.id
    </select>

    <select id="getResourceByRoleId" resultMap="BaseResultMap">
        select sr.*
        from sys_resource sr
                 left join sys_role_resource_relation srrr on sr.id = srrr.resource_id
        where srrr.role_id = #{roleId}
          and sr.deleted = 0
        group by sr.id
    </select>

    <select id="getAllResource" resultType="java.lang.String">
        select url
        from sys_resource
        where deleted = 0
    </select>
</mapper>