<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="false">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>

    <!-- 日志输出格式 -->
    <property name="console.log.pattern"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss}){faint} %boldMagenta([%thread]) %clr(${LOG_LEVEL_PATTERN:-%5p})  %cyan(%logger{36}) : %msg%n"/>

    <include resource="logback-common.xml"/>
    <include resource="logback-skylog.xml"/>

    <!-- 本地环境 -->
    <springProfile name="dev,test,local">
        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="sky_log"/>
            <appender-ref ref="file_console"/>
            <appender-ref ref="async_info"/>
            <appender-ref ref="async_error"/>
        </root>
    </springProfile>

    <!-- 正式环境 -->
    <springProfile name="pre,prod">
        <root level="INFO">
            <appender-ref ref="console"/>
            <appender-ref ref="sky_log"/>
            <appender-ref ref="file_console"/>
            <appender-ref ref="async_info"/>
            <appender-ref ref="async_error"/>
        </root>
    </springProfile>
</configuration>
